<section class="section skills">
  <div class="section-container">
    <div class="section-title-container">
      <h3>
        <div class="line"></div>
        <span>Check out my</span>
      </h3>
      <h2>Skills</h2>
    </div>
    <div class="section-content">
      <div class="skill-card">
        <img src="assets/img/html.png" alt="HTML5" />
        <span>HTML</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/css.png" alt="CSS3" />
        <span>CSS</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/javascript.png" alt="JavaScript" />
        <span>JavaScript</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/typescript.png" alt="TypeScript" />
        <span>TypeScript</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/sass.png" alt="SASS" />
        <span>SASS</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/c.png" alt="C" />
        <span>C</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/git.png" alt="Git" />
        <span>Git</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/python.png" alt="Python" />
        <span>Python</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/node-js.png" alt="Node JS" />
        <span>Node JS</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/aws.png" alt="AWS" />
        <span>AWS</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/java.png" alt="Java" />
        <span>Java</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/jquery.png" alt="JQuery" />
        <span>JQuery</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/php.png" alt="PHP" />
        <span>PHP</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/laravel.png" alt="Laravel" />
        <span>Laravel</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/gitlab.png" alt="GitLab" />
        <span>Laravel</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/mssql.png" alt="MSSQL" />
        <span>MSSQL</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/mysql.png" alt="MySQL" />
        <span>MySQL</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/visual-studio-code.png" alt="VSCode" />
        <span>VSCode</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/mongodb.png" alt="MongoDB" />
        <span>MongoDB</span>
      </div>
      <div class="skill-card">
        <img src="assets/img/react.png" alt="React" />
        <span>React</span>
      </div>
    </div>
  </div>
</section>
