<section class="section contact">
  <div class="section-container">
    <div class="section-title-container">
      <h3>
        <div class="line"></div>
        <span>Say Hello</span>
      </h3>
      <h2>Contact</h2>
    </div>
    <div class="section-content">
      <form [formGroup]="contactForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <input matInput type="text" formControlName="subject" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button mat-button class="btn btn-primary">
          <span>Submit</span>
        </button>
      </form>
    </div>
  </div>
</section>
