@import "material";
@import "../home-shared.scss";

form {
  display: grid;
  grid-template-areas: "a b" "c c" "d d" "e e";
  grid-gap: 0.5rem;
}

form .mat-form-field:nth-child(1) {
  grid-area: a;
}

form .mat-form-field:nth-child(2) {
  grid-area: b;
}

form .mat-form-field:nth-child(3) {
  grid-area: c;
}

form .mat-form-field:nth-child(4) {
  grid-area: d;
}

form textarea {
  min-height: 150px;
}

button {
  align-self: center;
  justify-self: center;
  grid-area: e;
  width: 50%;
  margin-top: 2rem;
}
