<section class="section about">
  <div class="section-container">
    <div class="section-title-container">
      <h3>
        <div class="line"></div>
        <span>Some Info</span>
      </h3>
      <h2>About Me</h2>
    </div>
    <div class="section-content">
      <p>
        I am currently working as a junior developer on placement at
        <a href="">Bluefuse Systems</a>, as part of my undergraduate's degree in
        Computer Science at the <a href="">University of Bath</a>. I'm
        passionate about web development and web design.
      </p>
    </div>
  </div>
</section>
