<header class="dialog-header">
  <div class="dialog-header-group">
    <h3>Delete Article</h3>
  </div>
  <div class="dialog-header-group">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</header>

<main class="dialog-content">
  <p>
    Are you sure you want to delete this article. This article will be removed
    from all search results and publicly visible pages, and can only be
    recovered by entering your trash folder. Deleting from the trash folder will
    permenantly delete this article.
  </p>
</main>

<footer class="dialog-actions">
  <button mat-button class="btn btn-secondary">
    <span>Cancel</span>
  </button>
  <button mat-button class="btn btn-primary">
    <span>Delete</span>
  </button>
</footer>
