<section class="section hero">
  <div class="section-container">
    <div class="image-container">
      <img />
    </div>
    <div class="section-content">
      <h3>Hi There I'm</h3>
      <h1><span>Philip</span> bardy</h1>
      <p>
        A <span>Full-Stack Web Developer</span> and Computer Science Student at
        the University of Bath, who's passionate about creating interfactive
        experiences on the web.
      </p>
      <div class="buttons">
        <button mat-button class="btn btn-primary">Resume</button>
        <div class="social-media">
          <button>
            <img src="assets/img/github.png" alt="GitHub" />
          </button>
          <button>
            <img src="assets/img/linkedin.png" alt="LinkedIn" />
          </button>
          <button>
            <img src="assets/img/twitter.png" alt="Twitter" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
