<mat-sidenav class="nav" [opened]="true">
  <div class="nav-inner">
    <mat-nav-list class="nav-group">
      <mat-list-item>
        <h3>PB</h3>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="nav-group">
      <mat-list-item (click)="scrollIntoView('hero')">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>
      <mat-list-item (click)="scrollIntoView('about')">
        <mat-icon mat-list-icon>subject</mat-icon>
        <span>About</span>
      </mat-list-item>
      <mat-list-item (click)="scrollIntoView('skills')">
        <mat-icon mat-list-icon>code</mat-icon>
        <span>Skills</span>
      </mat-list-item>
      <mat-list-item (click)="scrollIntoView('portfolio')">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span>Portfolio</span>
      </mat-list-item>
      <mat-list-item (click)="scrollIntoView('blog')">
        <mat-icon mat-list-icon>newspaper</mat-icon>
        <span>Blog</span>
      </mat-list-item>
      <mat-list-item (click)="scrollIntoView('contact')">
        <mat-icon mat-list-icon>alternate_email</mat-icon>
        <span>Contact</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="nav-group">
      <mat-list-item (click)="takeATour()">
        <mat-icon mat-list-icon>arrow_downward</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-sidenav>
